<%- include('../partials/header') %>

<form id="new-form" action="/skilltoys" method="POST">
  <label>Brand:</label>
  <input type="text" name="brand">
  <label>Model:</label>
  <input type="text" name="model">
 
  <label>Picture: Upload an image link. Works with Facebook, Imgur and others.</label>
  <input type="text" name="image">


  <input type="submit" value="Add Yo-Yo">
</form>

<%- include('../partials/footer') %>
