<%- include('../partials/header') %>

<form id="new-form" action="/skilltoys" method="POST">
  <label>Brand:</label>
  <input type="text" name="brand">
  <label>Model:</label>
  <input type="text" name="model">
  
  <input type="submit" value="Add Yo-Yo">
</form>

<%- include('../partials/footer') %>
