<%- include('../partials/header') %>


Show Page landing Page show.ejs

<section id="show-page">
    <div>Brand: </div>
    <div><%= skilltoy.brand %></div>
    <div>Model: </div>
    <div><%= skilltoy.model %></div>
  
<%- include('../partials/footer') %>
